absl-py==1.2.0
adagio==0.2.4
aiofiles==23.2.1
aiosignal==1.3.1
alembic==1.7.7
altair==5.1.1
ansi2html==1.8.0
antlr4-python3-runtime==4.11.1
anyio==3.7.1
apache-airflow==2.3.1
apache-airflow-providers-ftp==2.1.2
apache-airflow-providers-http==2.1.2
apache-airflow-providers-imap==2.2.3
apache-airflow-providers-sqlite==2.1.3
apispec==3.3.2
appdirs==1.4.4
argcomplete==2.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.8.1
asttokens==2.0.5
astunparse==1.6.3
attrs==20.3.0
Babel==2.10.1
backcall==0.2.0
beautifulsoup4==4.11.2
black==22.1.0
bleach==4.1.0
blinker==1.4
bokeh==2.4.2
boto3==1.28.50
botocore==1.31.50
brewer2mpl==1.4.1
cachelib==0.7.0
cachetools==5.2.0
catboost==1.2.1.1
category-encoders==2.6.2
cattrs==1.10.0
certifi==2020.12.5
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.7
clickclick==20.10.2
cloudpickle==2.2.1
cmaes==0.10.0
colorama==0.4.4
colorcet==3.0.0
colorlog==4.8.0
colour==0.1.5
comm==0.1.4
commonmark==0.9.1
connexion==2.13.1
contourpy==1.1.0
cron-descriptor==1.2.24
croniter==1.3.5
cryptography==41.0.3
cycler==0.11.0
Cython==3.0.2
daal==2023.2.1
daal4py==2023.2.1
dacite==1.8.1
dash==2.13.0
dash-auth==2.0.0
dash-bootstrap-components==1.5.0
dash-core-components==2.0.0
dash-cytoscape==0.3.0
dash-html-components==2.0.0
dash-table==5.0.0
dash-testing-stub==0.0.2
dask==2023.7.0
databricks-cli==0.17.7
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
deprecation==2.1.0
dill==0.3.7
distributed==2023.7.0
dnspython==2.2.1
docker==6.1.3
docutils==0.18.1
dtreeviz==2.2.2
email-validator==1.2.1
emoji==1.6.3
entrypoints==0.4
evidently==0.2.8
exceptiongroup==1.1.3
executing==0.8.2
explainerdashboard==0.4.3
fairlearn==0.7.0
fastapi==0.103.1
ffmpy==0.3.1
filelock==3.12.4
filestack-python==3.4.0
fix-yahoo-finance==0.1.37
Flask==2.2.3
Flask-AppBuilder==3.4.5
Flask-Babel==2.0.0
Flask-Caching==1.11.1
Flask-JWT-Extended==3.25.1
Flask-Login==0.4.1
Flask-OpenID==1.3.0
Flask-Session==0.4.0
flask-simplelogin==0.1.2
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.1.1
flatbuffers==24.3.25
fonttools==4.29.1
fpdf==1.7.2
frozendict==2.3.5
frozenlist==1.4.0
fs==2.4.16
fsspec==2023.9.1
fugue==0.8.6
fugue-sql-antlr==0.1.7
future==0.18.3
gast==0.4.0
gevent==23.9.1
ggplot==0.11.5
gitdb==4.0.10
GitPython==3.1.36
google-auth==2.10.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googlefinance==0.7
gradio==3.44.3
gradio_client==0.5.0
graphviz==0.20
greenlet==2.0.2
grpcio==1.64.0
gunicorn==20.1.0
h11==0.12.0
h5py==3.11.0
html5lib==1.1
htmlmin==0.1.12
htmltools==0.5.2
httpcore==0.15.0
httpx==0.23.0
huggingface-hub==0.17.2
hyperopt==0.2.7
idna==2.10
ImageHash==4.3.1
imageio==2.21.1
imbalanced-learn==0.11.0
importlib-metadata==5.2.0
importlib-resources==6.0.1
inflection==0.5.1
iniconfig==2.0.0
interpret==0.4.4
interpret-core==0.4.4
ipdb==0.13.9
ipykernel==6.9.1
ipython==8.0.1
ipython-genutils==0.2.0
ipywidgets==8.1.1
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
jsonschema==4.4.0
jupyter-client==7.1.2
jupyter-core==4.9.2
jupyter-dash==0.4.2
jupyterlab-pygments==0.1.2
jupyterlab-widgets==3.0.9
kaleido==0.2.1
keras==3.3.3
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
kmodes==0.12.2
lazy-object-proxy==1.7.1
libclang==14.0.6
lightgbm==4.1.0
lime==0.2.0.1
linkify-it-py==2.0.3
llvmlite==0.40.1
locket==1.0.0
lockfile==0.12.2
lxml==4.9.2
m2cgen==0.10.0
Mako==1.2.0
Markdown==3.3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.16.0
marshmallow-enum==1.5.1
marshmallow-oneofschema==3.0.1
marshmallow-sqlalchemy==0.26.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mdit-py-plugins==0.4.1
mdurl==0.1.2
missingno==0.5.0
mistune==0.8.4
ml-dtypes==0.3.2
mlflow==1.30.1
mlxtend==0.22.0
moto==4.2.3
msgpack==1.0.5
multimethod==1.7
multiprocess==0.70.15
multitasking==0.0.11
mypy-extensions==0.4.3
namex==0.0.8
nbclient==0.5.11
nbconvert==6.4.2
nbformat==5.1.3
nest-asyncio==1.5.4
networkx==2.6.3
nltk==3.7
notebook==6.4.8
numba==0.57.1
numpy==1.26.0
oauthlib==3.2.0
opencv-python==4.6.0.66
opt-einsum==3.3.0
optree==0.11.0
optuna==3.3.0
orjson==3.9.7
outcome==1.2.0
oyaml==1.0
packaging==21.3
pandas==2.1.1
pandas-datareader==0.10.0
pandas-profiling==3.1.0
pandass==1.11.4
pandocfilters==1.5.0
param==1.12.0
parso==0.8.3
partd==1.4.0
pathspec==0.9.0
patsy==0.5.2
peewee==3.17.5
pendulum==2.1.2
percy==2.0.2
phik==0.12.0
pickleshare==0.7.5
Pillow==9.0.1
platformdirs==2.5.1
plotly==5.10.0
plotly-resampler==0.9.1
pluggy==1.0.0
pmdarima==2.0.3
prison==0.2.1
prometheus-client==0.13.1
prometheus-flask-exporter==0.22.4
prompt-toolkit==3.0.28
protobuf==4.24.3
psutil==5.9.1
pure-eval==0.2.2
py4j==0.10.9.7
pyaml==23.9.6
pyarrow==16.1.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycaret==3.1.0
pycparser==2.21
pyct==0.4.8
pydantic==1.9.0
pydeck==0.9.1
pydub==0.25.1
Pygments==2.11.2
PyJWT==1.7.1
pynndescent==0.5.10
pyod==1.1.0
pyOpenSSL==23.2.0
pyotp==2.8.0
pyparsing==3.0.7
pyrsistent==0.18.1
PySocks==1.7.1
pytest==7.4.2
python-daemon==2.3.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-multipart==0.0.9
python-nvd3==0.15.0
python-slugify==6.1.2
python3-openid==3.2.0
pytz==2022.7.1
pytz-deprecation-shim==0.1.0.post0
pytzdata==2020.1
pyviz-comms==2.1.0
PyWavelets==1.2.0
pywin32==306
pywinpty==2.0.2
PyYAML==6.0
pyzmq==22.3.0
qpd==0.4.4
QtPy==2.0.1
querystring-parser==1.2.4
questionary==2.0.1
ray==2.7.0
regex==2022.1.18
requests==2.31.0
requests-oauthlib==1.3.1
responses==0.23.1
retrying==1.3.4
rfc3986==1.5.0
rich==12.4.4
robin-stocks==2.1.0
rpy2==3.5.10
rsa==4.9
s3transfer==0.6.2
SALib==1.4.7
schemdraw==0.15
scikit-base==0.5.1
scikit-image==0.19.3
scikit-learn==1.2.2
scikit-learn-intelex==2023.2.1
scikit-optimize==0.9.0
scikit-plot==0.3.7
scipy==1.10.1
seaborn==0.11.0
selenium==4.2.0
semantic-version==2.10.0
Send2Trash==1.8.0
setproctitle==1.2.3
shap==0.42.1
shiny==0.10.1
simplejson==3.18.4
six==1.16.0
sklearn==0.0
skope-rules==1.0.1
sktime==0.21.1
slicer==0.0.7
smmap==5.0.1
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.4
SQLAlchemy==1.4.9
SQLAlchemy-JSONField==1.0.0
SQLAlchemy-Utils==0.38.2
sqlglot==18.5.1
sqlparse==0.4.4
stack-data==0.2.0
starlette==0.27.0
statsforecast==1.5.0
statsmodels==0.13.2
streamlit==1.35.0
style==1.1.0
swagger-ui-bundle==0.0.9
tabulate==0.8.9
tangled-up-in-unicode==0.1.0
tbats==1.1.3
tbb==2021.10.0
tblib==2.0.0
tenacity==8.3.0
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6.2.2
tensorflow==2.16.1
tensorflow-estimator==2.9.0
tensorflow-intel==2.16.1
tensorflow-io-gcs-filesystem==0.26.0
termcolor==1.1.0
terminado==0.13.1
testpath==0.5.0
text-unidecode==1.3
threadpoolctl==3.1.0
tifffile==2022.8.8
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
tornado==6.1
tqdm==4.62.3
trace-updater==0.0.9.1
tradingview-ta==3.3.0
trafaret==2.0.2
traitlets==5.1.1
treeinterpreter==0.2.3
triad==0.9.1
trio==0.22.2
trio-websocket==0.10.4
tsdownsample==0.1.2
tune-sklearn==0.4.6
typeguard==2.13.3
types-PyYAML==6.0.12.11
typing_extensions==4.8.0
tzdata==2022.7
tzlocal==4.2
uc-micro-py==1.0.3
umap-learn==0.5.4
unicodecsv==0.14.1
update==0.0.1
urllib3==1.26.16
urllib3-secure-extra==0.1.0
uvicorn==0.23.2
visions==0.7.5
waitress==2.1.2
watchdog==4.0.1
watchfiles==0.21.0
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.6.3
websockets==11.0.3
Werkzeug==2.2.3
widgetsnbextension==4.0.9
wordcloud==1.9.2
wrapt==1.14.1
wsproto==1.2.0
WTForms==2.3.3
xgboost==1.5.2
xlrd==2.0.1
XlsxWriter==3.1.4
xmltodict==0.13.0
xxhash==3.3.0
yahoo-finance==1.4.0
yahoofinance==0.0.2
ydata-profiling==4.5.1
yellowbrick==1.5
yfinance==0.2.40
zict==3.0.0
zipp==3.7.0
zope.event==5.0
zope.interface==6.0
